#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: var(--square-bg);
  border: 1px solid var(--text-color);
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  color: var(--text-color);
}

.game-info {
  margin-left: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    justify-content: center;
}
